
html, body {
height: 100%;
margin: 0;
font-size: 16px;
}

body {
display: flex;
justify-content: center;
align-items: center;
background-image: url("../img/wow.png");
background-position: bottom center;
background-size: cover;
background-repeat: no-repeat;
}

h1 {

  display: flex;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 4em;
  color: #fff;
  background-color: #f16059;
  padding: 0 10%;
  height: 10rem;
}
